:root {
  --accent1: #6c64fa;
  --accent2: #37364f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: flex;
  justify-content: center;
}
.listItemIcon {
  min-width: 0;
  justify-content: center;
  color: #42a5f5;
}
.intuit-logo {
  height: 45px;
  object-fit: scale-down;
  margin-right: 20px;
}
.svg1 {
  background-color: red;
  max-height: 60vh;
}
.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 80vw;
  margin: 0 auto;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #082730;
}
input[type="radio"] {
  margin: 15px;
  transform: scale(2);
}
.workshop_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .home-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}
